<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <clear />
        <rule name="_reverse-proxy-inbound" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_ROOT_DOMAIN" value="contosotravel.azurewebsites.net" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_PROXY_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
          <action type="Rewrite" url="http://{HTTP_X_ROOT_DOMAIN}/{R:1}" />
        </rule>
        <rule name="_redirect-proxy-for-clientside-js-using-subdomains" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^contosotravel-proxy.azurewebsites.net$" />
            <add input="{HTTP_REFERER}" pattern="^http://contosotravel-proxy.azurewebsites.net/(.+?)/.*" />
            <add input="{URL}" pattern="windows.js$" negate="true" />
            <add input="{PATH_INFO}" pattern="^/(about|m|www)/.*" negate="true" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_ROOT_DOMAIN" value="contosotravel.azurewebsites.net" />
            <set name="HTTP_X_UNPROXIED_URL" value="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/{C:2}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_PROXY_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
          <action type="Redirect" url="http://{HTTP_X_PROXY_HOST}/{C:1}/{R:0}" redirectType="Found" />
        </rule>
        <rule name="_reverse-proxy-inbound-font" enabled="false" stopProcessing="false">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^contosotravel-proxy.azurewebsites.net$" />
            <add input="{URL}" pattern=".woff$" />
            <add input="{PATH_INFO}" pattern="^/(.+?)/(.*)" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_ROOT_DOMAIN" value="contosotravel.azurewebsites.net" />
            <set name="HTTP_X_UNPROXIED_URL" value="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/{C:2}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_PROXY_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
            <set name="HTTP_REFERER" value="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/" />
          </serverVariables>
          <action type="Rewrite" url="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/{C:2}" />
        </rule>
        <rule name="_reverse-proxy-inbound-using-subdomains" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^contosotravel-proxy.azurewebsites.net$" />
            <add input="{PATH_INFO}" pattern="^/(.+?)/(.*)" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_ROOT_DOMAIN" value="contosotravel.azurewebsites.net" />
            <set name="HTTP_X_UNPROXIED_URL" value="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/{C:2}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_PROXY_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
          <action type="Rewrite" url="http://{C:1}.{HTTP_X_ROOT_DOMAIN}/{C:2}" />
        </rule>        
      </rules>
      <outboundRules>
        <clear />
        <rule name="_reverse-proxy-outbound" preCondition="_ResponseIsHtml" enabled="true">
            <match filterByTags="A, Form, Img" pattern="^http(s)?://contosotravel.azurewebsites.net/(.*)" />
            <action type="Rewrite" value="http{R:1}://{HTTP_X_PROXY_HOST}/{R:2}" />
        </rule>
        <rule name="_reverse-proxy-outbound-subdomains" preCondition="_ResponseIsHtml" enabled="false">
          <match filterByTags="A, Form, Img" pattern="^http(s?)://([^.]+)\.contosotravel.azurewebsites\.net/?(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="http://{HTTP_X_PROXY_HOST}/{R:2}/{R:3}" />
        </rule>
        <rule name="_reverse-proxy-outbound-relative-urls" preCondition="_ResponseIsHtml" enabled="false" stopProcessing="true">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{URL}" pattern="^/(.*)" />
            <add input="{HTTP_HOST}" pattern="(.*?)\." />
          </conditions>
          <action type="Rewrite" value="http://{HTTP_X_PROXY_HOST}/{C:2}/{R:1}" />
        </rule>
        <rule name="_reverse-proxy-outbound-redirects" preCondition="_Redirects" enabled="false" stopProcessing="true">
          <match serverVariable="RESPONSE_LOCATION" pattern="^http(s?)://([^.]+)\.contosotravel.azurewebsites\.net/(.+)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="http://{HTTP_X_PROXY_HOST}/{R:2}/{R:3}" />
        </rule>
        <rule name="_reverse-proxy-outbound-redirects-2" preCondition="_Redirects" enabled="false" stopProcessing="true">
          <match serverVariable="RESPONSE_LOCATION" pattern="^/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="(.*?)\." />
          </conditions>
          <action type="Rewrite" value="http://{HTTP_X_PROXY_HOST}/{C:1}/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="_ResponseIsHtml">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
          <preCondition name="_ResponseIsJavascript">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/javascript" />
          </preCondition>
          <preCondition name="_Redirects">
            <add input="{RESPONSE_STATUS}" pattern="3[0-9][0-9]" />
          </preCondition>
          <preCondition name="_BadGateway">
            <add input="{RESPONSE_STATUS}" pattern="502" />
          </preCondition>
          <preCondition name="_ReponseIsCSS">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/css" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="HTTP_USER_AGENT " value="Mozilla/5.0 (iPad; CPU OS 9_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13B137 Safari/601.1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
